.canto{
    margin-top: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: auto;
}

.fundo{
    background-color: coral;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: center;
    color: black;
}

.box-login{
    background-color: #ffffff;
    margin-top: 2em;
    height: auto;
    padding: 2em;
    border-radius: 1em;
}

.botoes{
    text-align: center;
}